@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: hsl(240, 100%, 99.8%);
        --foreground: hsl(259.09, 95.65%, 9.02%);
    }

    .common {
        @apply flex mx-auto;
    }

    .outlet {
        @apply flex-grow mx-auto;
    }

    .sidebar {
        /* w-36 */
        @apply bg-primary text-white dark:bg-primary;
    }

    .sidebarMenu {
        @apply flex flex-col mx-auto justify-between h-screen py-12;
    }

    .sidebarMenuItem {
        @apply p-2.5 bg-gray text-background hover:bg-white
        dark:bg-background dark:text-white dark:hover:bg-gray
        rounded-3xl hover:rounded-xl
        transition-all duration-200
        ease-linear cursor-pointer;
    }
  
    .sidebarTheme {
        @apply p-2.5 bg-gray text-background hover:bg-white
        dark:bg-background dark:text-white
        dark:hover:bg-white dark:hover:text-background rounded-3xl;
    }

    .tooltipContent {
        @apply bg-primary dark:bg-panna
        dark:text-primary text-white
        border-gray !rounded-3xl;
    }

    .authnForm {
        @apply flex items-center justify-center min-h-screen;
    }

    .authnCard {
        @apply bg-gray dark:bg-primary text-white !border-2 border-background dark:border-gray !rounded-3xl;
    }

    .authnInput {
        @apply !bg-panna dark:bg-primary text-background
        !border-2 border-blue-700 !rounded-3xl !outline-primary;
    }

    .signupCalendar {
        @apply !bg-panna dark:bg-primary text-background
        !border-2 border-blue-700 !rounded-3xl !outline-primary
        block px-3 py-2;
    }

    .showButton {
        @apply w-7 h-7 ml-2 text-white hover:bg-gray
        rounded-3xl hover:rounded-xl
        transition-all duration-200
        ease-linear cursor-pointer;
    }

    .calendarButton {
        @apply !bg-panna text-background border-gray !border-2 !rounded-2xl;
    }

    .toast {
        @apply !bg-sred !text-white !rounded-xl;
    }

    .footerLink {
        @apply ml-1 underline text-blue-300 dark:text-gray;
    }

    .calendar {
        @apply bg-panna dark:bg-background
        text-background dark:text-white;
    }

    .accordionTrigger {
        @apply bg-panna hover:bg-white
        dark:bg-primary dark:hover:border-green
        border-gray dark:border-blue-700
        justify-center border-2 rounded-full;
    }

    .accordionContent {
        @apply mt-2 rounded-2xl
        bg-primary text-white
        dark:text-blue-400
        border-2 border-background dark:border-green;
    }

    .biaCard {
        @apply !rounded-3xl bg-panna text-primary;
    }

    .pageTitle {
        @apply mt-10 mb-10 text-center font-extrabold text-3xl;
    }

    .pageDivider {
        @apply flex flex-col justify-between h-full mx-auto
        lg:flex-row lg:justify-between
        gap-y-4 lg:gap-y-0 lg:gap-x-20
    }

    .itemDivided {
        @apply flex-1 items-center text-center justify-center
        lg:w-1/2;
    }

    .itemTitle {
        @apply mt-5 mb-5 font-bold text-xl;
    }

    .liOption {
        @apply flex flex-row justify-between font-bold
      hover:text-panna dark:hover:text-white;
    }

    .ingredient {
        @apply ml-5 dark:hover:text-white;
    }

    .quantity {
        @apply mr-5 text-blue-300 hover:text-blue-100
        dark:text-gray dark:hover:text-white;
    }

    .selectItem {
        @apply bg-primary text-white hover:bg-background;
    }

    .fileCard {
        @apply
        bg-panna dark:bg-primary
        text-blue-950 dark:text-white
        border-blue-700;
    }

    .aHref {
        @apply inline-block mt-2 px-4 py-2 
        text-white text-base font-extrabold
        bg-blue-500 hover:bg-blue-700;
    }

    .trashIcon {
        @apply w-8 h-8 mt-2.5 cursor-pointer hover:text-red hover:scale-110
    }

}

@layer base {
    root, .dark {
      @apply bg-background text-foreground
      dark:bg-foreground dark:text-background;
    }
  }
