@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: hsl(240, 100%, 99.8%);
        --foreground: hsl(259.09, 95.65%, 9.02%);
    }

    .sidebar {
        @apply w-36 bg-background text-white dark:bg-primary;
    }

    .sidebarMenu {
        @apply flex flex-col mx-auto justify-between h-screen py-12;
    }

    .sidebarMenuItem {
        @apply bg-primary text-white hover:bg-gray
        dark:bg-background dark:text-white dark:hover:bg-gray
        rounded-3xl hover:rounded-xl
        transition-all duration-200
        ease-linear cursor-pointer;
    }

    .authButton {
        @apply bg-primary text-white hover:bg-gray
        dark:bg-background dark:text-white dark:hover:bg-gray
        hover:rounded-xl;
    }

    .themeButton {
        @apply justify-center
        bg-gray hover:bg-gray dark:hover:bg-white
        dark:bg-white dark:text-background
        rounded-3xl hover:rounded-xl
        transition-all duration-200
        ease-linear cursor-pointer;
    }

    .tooltipContent {
        @apply bg-primary text-white
        dark:bg-background border-gray;
    }

}

@layer base {
    body {
      @apply bg-background text-foreground
      dark:bg-foreground dark:text-background;
    }
  }